<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringSecurityUpdatedApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="springSecurityUpdated" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="se.artcomputer.edu.security6.SpringSecurityUpdatedApplication" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="se.artcomputer.edu.security6.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>